@import "tailwindcss";

@font-face {
  font-family: "Wavy";
  src: url("/fonts/Wavy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AppleGaramond";
  src: url("/fonts/AppleGaramond.woff2") format("woff2");
}

@theme {
  --font-wavy: "Wavy", cursive;
  --font-garamond: "AppleGaramond", serif;

  --color-evergreen: #212c17;
  --color-olive: #4f5934;
  --color-ember: #b45317;
  --color-goldenrod: #b17d29;
  --color-sand: #c1bc6a;
  --color-tan: #d5bc9e;
}
