@import "tailwindcss";

@font-face {
  font-family: "Wavy";
  src: url("/fonts/Wavy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AppleGaramond";
  src: url("/fonts/AppleGaramond.woff2") format("woff2");
}

@theme {
  --font-wavy: "Wavy", cursive;
  --font-garamond: "AppleGaramond", serif;
}
