---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Events">
  <section class="px-6 py-20">
    <h1 class="font-wavy text-4xl">Events</h1>
    <p class="font-garamond mt-4 text-lg">Events page content here.</p>
  </section>
</Layout>
