---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resources">
  <section class="px-6 py-20">
    <h1 class="font-wavy text-4xl">Resources</h1>
    <p class="font-garamond mt-4 text-lg">Resources page content here..</p>
  </section>
</Layout>
