<footer class="bg-sand text-evergreen">
  <div
    class="mx-auto flex h-[75px] max-w-7xl flex-col items-center justify-center px-6 text-center leading-tight"
  >
    <h2 class="font-wavy text-sm sm:text-base">Rooted Circles Collective</h2>

    <div class="mt-1 h-6 w-6 rounded-full bg-white/70"></div>
  </div>
</footer>
